body {
    font: 12px sans-serif;
}

.tick>line {
    fill: none;
    stroke: black;
}

.tick>text {
    fill: black;
}

path.domain {
    fill: none;
    stroke-width: 2px;
    stroke: black;
}

#wrapper {
    clear: both;
}

#chart1 {
    float: left;
}

#chart2 {
    float: left;
}

/**************** bar baseline style *******************/
.bar {
    stroke: black;
    stroke-opacity: 0;
}

/*************** highlight styles *******************/
.priv {
    fill: midnightblue;
}

.pub {
    fill: mediumseagreen;
}

/************** non-highlighted elements **************/
.non-brushed {
    fill: lightgray;
}

